<div class="container-fluid px-0 top-banner">
     <div class="container">
          <div class="row">
               <div class="col-lg-5 col-md-6">
                    <h1>TOP EVENIMENTE</h1>
                    <h2>Exploreaza cele mai asteptate evenimente</h2>
                    <div class="mt-4">
                         <button class="main-button">Exploreaza</button>
                    </div>
               </div>
          </div>
     </div>
</div>