@model MRSTW.Web.Models.Events

<header>
     <nav class="navbar navbar-expand-lg navigation-wrap" href="@Url.Action("Index","Home")">
          <div class="container">
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon"></i>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                         <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">Acasa</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#explore">Exploreaza evenimente</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#add">Adauga eveniment</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#support">FAQ/Suport</a>
                         </li>
                         <li><button class="login-button mt-2">Logare</button></li>
                    </ul>
               </div>
          </div>
     </nav>
</header>