@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "FAQ";
}

<section>
     <div class="container-fluid faq">

     </div>
</section>

<!-- <footer class="footer pt-12 pb-12 mt-12">
     <div class="container text-center text-md-left">
          <div class="row">

               <div class="col-md-12 mb-12">
                    <ul class="list-unstyled">
                         <li><a href="#home">Home</a></li>
                    </ul>
               </div>

               <div class="col-md-12 mb-12">
                    <ul class="list-unstyled">
                         <li><a href="#explore">Explore</a></li>
                         <ul class="list-unstyled" style="font-size: 0.75rem;">
                              <li><a href="#concerts">Concerts</a></li>
                              <li><a href="#fairs">Fairs</a></li>
                              <li><a href="#sports">Sports</a></li>
                              <li><a href="#meetings">Meetings</a></li>
                              <li><a href="#voluntary">Voluntary</a></li>
                              <li><a href="#others">Others</a></li>
                         </ul>
                    </ul>
               </div>

               <div class="col-md-12 mb-12">
                    <ul class="list-unstyled">
                         <li><a href="#add">Add event</a></li>
                    </ul>
               </div>

               <div class="col-md-12 mb-12">
                    <ul class="list-unstyled">
                         <li><a href="#support" class="text-white">FAQ</a></li>
                    </ul>
               </div>


               <hr class="mb-12">

               <div class="text-center">
                    <h4>&copy; 2025. All Rights Reserved.</h4>
               </div>
          </div>
</footer>
-->
